{
    "instructions": "Place the bot token and Twitch API token in this file. This is a secure file and this info won't be posted via a Discord command like the ?settings command.",
    "twitchID": "",
    "token": "",
    "rcon": "",
    "catAPI": "https://thecatapi.com/"
    "reminder": "Remove .example from the name!"
}